<h2 mat-dialog-title>Update Song</h2>
<div mat-dialog-content>
    <div style="height: 150px;" class="border rounded p-2">
    <form #f="ngForm">
        <div class="form-group">
            <label for="songName">Song Name</label>
            <input required type="text" [(ngModel)]="song" name="songName" #songName="ngModel" id="songName" 
            class="form-control">
            <div class="alert alert-danger" *ngIf="songName.touched && !songName.valid">
                <div *ngIf="songName.errors && songName.errors.required">Song name is required</div>
            </div>
        </div>
        <div mat-dialog-actions align="end">
            <button (click)="submit(f)" type="submit" style="margin-right: 5px;" class="btn btn-primary btn-sm"
             mat-button mat-dialog-close mat-dialog-close="true">Update</button>
        <button class="btn btn-danger btn-sm" mat-button mat-dialog-close mat-dialog-close="false" cdkFocusInitial>Cancel</button>
        </div>
    </form>
</div>
</div>
