<div class="container">
    <form #f="ngForm" (ngSubmit)="onLogin(f)">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" ngModel class="form-control">
        </div>
        <button style="margin-left: 22.5%;" type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
<div *ngIf="invalidLogin" class="myalert alert alert-danger">Invalid username and/or password.</div>
