<h3>Update Employee</h3>
<form (ngSubmit)="onSubmit()">
    <div class="divStyle form-group">
        <label for="firstName">First Name</label>
        <input [(ngModel)]="employee.firstName" name="firstName" type="text" id="firstName" class="form-control">
    </div>
    <div class="divStyle form-group">
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="employee.lastName" name="lastName" type="text" id="lastName" class="form-control">
    </div>
    <div class="divStyle form-group">
        <label for="emailId">Email Id</label>
        <input [(ngModel)]="employee.emailId" name="emailId" type="text" id="emailId" class="form-control">
    </div>
    <button class="divStyle btn btn-success">Submit</button>
</form>
